<ion-view title="Смяна на парола">
    <ion-content>
        <h2 class="h2-login">
            Смяна на парола
        </h2>
        <form name="change_data" novalidate class="css-form" ng-submit="changeFormSubmit(change_data, model)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="Стара парола" maxlength="256" required ng-model="model.OldPassword">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Нова парола" maxlength="256" required ng-model="model.NewPassword">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Повторете паролата" maxlength="256" required ng-model="model.ConfirmPassword">
                </label>
                <div ng-show="message" style="color: red;">
                    {{message}}
                </div>
                <button class="button button-block button-calm" ng-disabled="change_data.$invalid">
                    Смяна
                </button>

            </div>
        </form>
    </ion-content>
</ion-view>