<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.Diplomna" version="1.0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>Запази ми</name>
  <description>Моята дипломна работа</description>
  <author href="http://cordova.io" email="lachezar1990@abv.bg">Лъчезар Спасов</author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="http://*" />
  <access origin="mailto:*" launch-external="yes" />
  <access origin="tel:*" launch-external="yes" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <vs:platformSpecificValues />
  <preference name="KeepRunning" value="True" />
  <preference name="ShowTitle" value="True" />
  <preference name="InAppBrowserStorageEnabled" value="True" />
  <preference name="SuppressesIncrementalRendering" value="True" />
  <plugin name="cordova-plugin-globalization" version="1.0.2" />
  <plugin name="cordova-plugin-inappbrowser" version="1.2.1" />
  <plugin name="cordova-plugin-network-information" version="1.2.0" />
  <plugin name="cordova-plugin-whitelist" version="1.2.1" />
  <plugin name="cordova-plugin-calendar" version="4.4.7" src="https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin" />
  <plugin name="nl.x-services.plugins.calendar" version="4.3.6-dev" />
  <plugin name="com.ionic.keyboard" version="1.0.4" />
</widget>